*{
    padding: 0px;
    margin: 0px;
    font-family: Monotype corsiva;
}


body{
    display: flex;
}

.tableau-div{
    width: 85%;
    height: 95vh;
    border: 5px solid rgb(128, 47, 0);
    margin: 1.5vh auto;
    background-color: rgb(8, 70, 8);
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
    overflow: auto;
    background-image: url("./bartImage.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 300px;
}